body {
    background-image: url("Capture.PNG");
}

#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #44a7aa;
padding: 10px;
float: none;
text-align: left;
}

h2 {
    font-variant:small-caps;
    background-color: rgba(35, 52, 59, 0.247);
  }